body {
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: darkblue;
text-align: center;
font-weight: 800;
}

h2 {
    color: rgb(80, 80, 80);
}

h3 {
    color: rgb(80, 80, 80);
}

span {
   font-style: italic;
   font-size: 0.8rem;
}