* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol {
    margin: 2rem 4rem;
    font-size: 2rem;
}

li {
    width: fit-content;
}

.book {
    transition: 0.5s;
}

.active-book {
    background-color: rgb(255,99,71);
}

