* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: flex;
    margin: 2rem;
}

.light-signal {
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 20px;
}

.signal-red, 
.signal-yellow, 
.signal-green {
    width: 200px;  
    height: 200px;  
    border-radius: 50%;
    margin: 0 1rem;
    background: gray;
} 

#next {
    margin-left: 1rem;
    padding: 0 2rem;
    font-size: 2rem;
    border-radius: 20px;
}